.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


#board {
	    cursor: pointer;

	    margin-top: 5em;
}

nav {
	/*height: 2em;*/
}

.color {
	width:100px;
	height: 100px;
	display: inline-block;
	margin: 0 10px 0 10px;
	cursor: pointer;
}

#color1 {
	background: #ff8a80;
}

#color2 {
	background: #ffcc80;
}

#color3 {
	background: #90caf9;
}

.picked {
	box-shadow: 1px 1px 4px 4px #dbdbdb;
}

#candidatesBoard {
	   cursor: pointer;
}

.selectedEmojis {
	display: inline-block; 
    height: 35px;width: 35px; font-size: 30px;margin: 8px 8px 8px 8px;
    border-radius: 5px;
}

.lock {
	 background: #d8d8d8 !important;
}